<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3266977848-ncvg2epdsu97ub1jadfc1kgqqv1h3da1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3266977848-ncvg2epdsu97ub1jadfc1kgqqv1h3da1</string>
	<key>API_KEY</key>
	<string>AIzaSyA98sR0AueSjHUxnwGxum8B3i-AWEUy9zY</string>
	<key>GCM_SENDER_ID</key>
	<string>3266977848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BAMP.C.Portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-375c6</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-375c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:3266977848:ios:9a135db88a706fd9</string>
	<key>DATABASE_URL</key>
	<string>https://portfolio-375c6.firebaseio.com</string>
</dict>
</plist>
